<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="container">
      <header id="intro">
        <a href="#">
          <img src="to-do-list.png" alt="일정표그림" />
          <h1>Todo-ddudu</h1>
        </a>
      </header>
    </div>
    <!-- product edit이랑 비슷 -->
    <div>
      <a href="#">투두리스트 작성하기</a>
    </div>
  </body>
</html>
